<% @restaurants.each do |restaurant| %>
  <div class="mb-3">
    <h3><%= restaurant.name %></h3>
    <p><strong>Category:</strong><%= restaurant.category.capitalize %></p>
    <p><strong>Address:</strong><%= restaurant.address %></p>
    <%= link_to "View more", restaurant_path(restaurant), class: ["btn", "btn-warning"] %>
  </div>
<% end %>
